<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Create Ticket</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>CreateTicketId</string>
			<key>image</key>
			<string>createTicket</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ticket List</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>equity</string>
			<key>image</key>
			<string>list2</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Inbox</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>InboxId</string>
					<key>image</key>
					<string>inbox3</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>My Tickets</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>MyTicketsId</string>
					<key>image</key>
					<string>myTickets</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Unassigned</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>UnassignedId</string>
					<key>image</key>
					<string>unAssigned2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Closed</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>ClosedId</string>
					<key>image</key>
					<string>closed2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Trash</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>TrashId</string>
					<key>image</key>
					<string>trash3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Problems</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>sme</string>
			<key>image</key>
			<string>problem-ic1</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>All Problems</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>sme_marketwatch</string>
					<key>image</key>
					<string>all-list</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>New Problem</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>sme_marketstats</string>
					<key>image</key>
					<string>all-list</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Changes</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>changeLevel0</string>
			<key>image</key>
			<string>tabBar3</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>All Changes</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>changeSubLevel1</string>
					<key>image</key>
					<string>all-list</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>New Change</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>newChangeSubLevel1</string>
					<key>image</key>
					<string>all-list</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Users List</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>UsersListId</string>
			<key>image</key>
			<string>People</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Settings</string>
			<key>level</key>
			<integer>0</integer>
			<key>id</key>
			<string>settings</string>
			<key>image</key>
			<string>Settings</string>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>About us</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>AboutUsId</string>
					<key>image</key>
					<string>about2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Logout</string>
					<key>level</key>
					<integer>1</integer>
					<key>id</key>
					<string>LogoutId</string>
					<key>image</key>
					<string>logout2</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
